body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, span, button {
    font-family: $spartan;
}

button {
    font-size: 32px;
}