body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue-1;

    @media screen and (max-width: $mobile) and (min-height: 667px){ 
        height: 100vh;
    }
}

h1, span, button {
    margin: 0;
    font-family: $spartan;
}

h1, span {
    color: $white;
}

button {
    font-size: 30px;

    @media screen and (max-width: $mobile) {
        font-size: 28px;
    }
}